// Hello world
@import "uikit/dist/css/uikit";
@import "mixins";

body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;;
}

h1 {
  color: white;
}
